.vscode/launch.json
.vscode/settings.json
__pycache__/app.cpython-311.pyc
__pycache__/db.cpython-311.pyc
__pycache__/test_app.cpython-311-pytest-7.4.4.pyc
trivia.js
static/trivia.js
style.css
index.html
.vscode/tasks.json
